/*variables*/

$width-img-tarjetas: 80% ;
$heigth-img-tarjetas: 80%;
$font-title:'Saira Condensed', sans-serif;
$width-tarjetas: 70%;
$heigth-tarjetas: 100%;
$width-icono-pago: 30%;
$heigth-icono-pago: 30%;
$color-text-footer: white;




/*hover*/

/*ESTILOS LOGO*/
#size-logo{
    height: 100%;
    width: 50%;
}

/*ESTILOS BANNER*/
#banner{
    
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    justify-content:space-between ;    
}

#size-banner{

    height: 100%;
    width: 100%;
}




/*ESTILOS TITULO PRINCIPAL*/
h1{

    text-align: center;
    font-size: 2rem;
    font-family: $font-title;
    text-shadow: 0rem 0.2rem 0rem  rgba(214, 211, 211, 0.656);

}


/*ESTILOS TARJETAS DE PRODUCTOS*/

.productos{

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
   
}

.tarjeta-1{
    width: $width-tarjetas;
    height: $heigth-tarjetas;
    padding: 3%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border-color: rgba(122, 122, 122, 46%);
    margin-bottom: 5%;
    box-shadow: 0rem 0rem 0.3rem 0rem #7A7A7A;

        .img-tarjetas{

            height: $heigth-img-tarjetas;
            width: $width-img-tarjetas;  
            align-items: center;

            
        }

                
  
    }

/*ESTILOS TEXTO TARJETAS DE PRODUCTOS*/

.name-product{
        font-family: $font-title;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 200;
        margin-bottom: 0%;
        
    }


.text-presentacion{
        font-family: $font-title;
        font-size: 0.9rem;
        font-style: normal;
        font-weight: 100;
        text-align: center;
        margin-bottom: 0%;
        margin-top: 0%;
       
    }
.text-styles-tarjetas{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    
}

/*ESTILOS SECCION COMO COMPRAR*/

h2{
    font-family: $font-title;
    font-size: 2rem;
    text-align: center;
}

#text-comocomprar{

    font-family: $font-title;
    text-align: center;
    font-size: 1rem;
}

h5{
    font-family: $font-title;
    font-size: 1rem;
    text-align: center;
}

.metodo-pago{

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    p{ 
        font-family: $font-title;
        font-size: 1rem;
        text-align: center;
        
    }
    
    img{
        width: $width-icono-pago;
        height: $heigth-icono-pago;
        display: block;
        margin: 0px auto;
    }

}




/*ESTILOS SECCION NOSOTROS*/

h4{

    font-family: $font-title;
    font-size: 1.8rem;
    text-align: center;
    
}

.texto-nosotros{

    font-family: $font-title;
    font-weight: 300;
    font-size: 1rem;
    text-align: justify;
}


.footer{
    
    background-color: rgba(36, 36, 34, 1);
    margin: 0%;
    padding: 10%;

    
   

            ul{
                list-style: none;
                color: $color-text-footer;
                font-family: $font-title;
                font-weight: 700;
                text-align: center;
                font-size: 1rem;
                padding: 0%;
                margin: 0%;   


            }

    
}
.espacio{

    height: 7vh;
    width: 7vw;
}

.inf-correo{

    span{
        color: $color-text-footer;
        font-family: $font-title;
        text-align: center;
        display: block;
         
    
    }


}

#contacto{
    font-weight:900;
}   

.redes{

    display: flex;
    flex-direction: row;
    justify-content: space-around;

        .icon-redes{

            width: 15vw;
            height: 10vh;
        }

}