/*variables*/
/*hover*/
/*ESTILOS GENERALES*/
body {
  min-height: 800vh;
}

/*ESTILOS LOGO*/
.size-logo {
  height: 100%;
  width: 80%;
}

/*ESTILOS BANNER*/
#banner {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#size-banner {
  height: 100%;
  width: 100%;
}

.espacio {
  height: 7vh;
  width: 7vw;
  display: block;
}

/*ESTILOS TITULO PRINCIPAL*/
.titulos {
  box-sizing: border-box;
}
.titulos h1 {
  text-align: center;
  font-family: "Saira Condensed", sans-serif;
  text-shadow: 0rem 0.2rem 0rem rgba(214, 211, 211, 0.656);
}

/*ESTILOS TARJETAS DE PRODUCTOS*/
.productos {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3%;
}

.tarjeta-1 {
  width: 70%;
  height: 100%;
  padding: 3%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border-color: rgba(122, 122, 122, 0.46);
  margin-bottom: 5%;
  box-shadow: 0rem 0rem 0.3rem 0rem #7A7A7A;
}
.tarjeta-1 .img-tarjetas {
  height: 80%;
  width: 80%;
  align-items: center;
}

/*ESTILOS TEXTO TARJETAS DE PRODUCTOS*/
.name-product {
  font-family: "Saira Condensed", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 200;
  margin-bottom: 0%;
  text-align: center;
}

.text-presentacion {
  font-family: "Saira Condensed", sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 100;
  text-align: center;
  margin-bottom: 0%;
  margin-top: 0%;
}

.text-styles-tarjetas {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/*ESTILOS SECCION COMO COMPRAR*/
h2 {
  font-family: "Saira Condensed", sans-serif;
  font-size: 2rem;
  text-align: center;
  margin: 0%;
  padding: 0%;
  border: 0%;
}

#text-comocomprar {
  font-family: "Saira Condensed", sans-serif;
  text-align: center;
  font-size: 1rem;
}

h5 {
  font-family: "Saira Condensed", sans-serif;
  font-size: 1rem;
  text-align: center;
}

.metodo-pago {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.metodo-pago p {
  font-family: "Saira Condensed", sans-serif;
  font-size: 1rem;
  text-align: center;
}
.metodo-pago img {
  width: 30%;
  height: 30%;
  display: block;
  margin: 0px auto;
}

/*ESTILOS SECCION NOSOTROS*/
h4 {
  font-family: "Saira Condensed", sans-serif;
  text-align: center;
  font-size: 1.8rem;
  margin: 1%;
}

.textoNosotros {
  margin: 3%;
  text-align: justify;
}

/*ESTILOS SECCION FOOTER*/
footer {
  display: block;
  background-color: black;
  color: white;
}
footer ul {
  list-style: none;
  color: white;
  text-align: center;
  font-family: "Saira Condensed", sans-serif;
  padding: 0%;
  font-size: 1.4rem;
}

.footer-general {
  padding: 8%;
}

.menu-footer {
  height: 100%;
}

.inf-correo p {
  color: white;
  font-family: "Saira Condensed", sans-serif;
  text-align: center;
  display: block;
}
.inf-correo #contacto {
  font-weight: 900;
  font-size: 1.4rem;
}

.redes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.redes .icon-redes {
  width: 15vw;
  height: 10vh;
}

/*ESTILOS DETALLE COLAGENO*/
.detalle_colageno {
  box-sizing: border-box;
  height: 80%;
  width: 80%;
  margin: 5% 5% 5%;
}

.img-detalle {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.regreso {
  display: block;
  text-align: center;
  font-size: 100%;
  font-family: "Saira Condensed", sans-serif;
}/*# sourceMappingURL=styles-main.css.map */